# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
data.head(15) #выведем на печать измененный датафрейм

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,B,операции с недвижимостью
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,B,операции с недвижимостью
7,0,152.779569,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,C,получение образования
8,2,6929.865299,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,C,проведение свадьбы
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,C,операции с недвижимостью
10,2,4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943,покупка недвижимости,C,операции с недвижимостью
11,0,792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069,покупка коммерческой недвижимости,C,операции с недвижимостью
12,0,365286.622650,65,среднее,1,гражданский брак,1,M,пенсионер,0,118514,сыграть свадьбу,C,проведение свадьбы
13,0,1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458,приобретение автомобиля,C,операции с автомобилем
14,0,1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127,покупка жилой недвижимости,C,операции с недвижимостью

In [23]:
data.info() # выведем информацию об измененном датафрейме

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21331 entries, 0 to 21524
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   children               21331 non-null  int64
 1   days_employed          21331 non-null  float64
 2   dob_years              21331 non-null  int64
 3   education              21331 non-null  object
 4   education_id           21331 non-null  int64
 5   family_status          21331 non-null  object
 6   family_status_id       21331 non-null  int64
 7   gender                 21331 non-null  object
 8   income_type            21331 non-null  object
 9   debt                   21331 non-null  int64
 10  total_income           21331 non-null  int64
 11  purpose                21331 non-null  object
 12  total_income_category  21331 non-null  object
 13  purpose_category       21331 non-null  object
dtypes: float64(1), int64(6), object(7)
memory usage: 2.4+ MB

In [24]:
data.groupby(['children', 'debt']).agg({'debt':'count'}) # сгруппируем таблицу по количеству детей

                debt
children debt
0        0     13028
         1      1063
1        0      4364
         1       444
2        0      1858
         1       194
3        0       303
         1        27
4        0        37
         1         4
5        0         9

In [25]:
def debt_status(debt): # функция, которая заменит 0 и 1 в столбце debt на статуст "возврат в срок" и "долг по возврату"
    if debt == 0:
        return 'возврат в срок'
    return 'долг по возврату'

data['debt_status'] = data['debt'].apply(debt_status) # добавим новый столбец со статусом возврата кредита



data_pivot = data.pivot_table(index='children', columns='debt_status', values='debt', aggfunc='count') 
# создадим сводную таблицу в разрезе количества детей и статусом возврата кредита
data_pivot

debt_status  возврат в срок  долг по возврату
children
0                   13028.0            1063.0
1                    4364.0             444.0
2                    1858.0             194.0
3                     303.0              27.0
4                      37.0               4.0
5                       9.0               NaN

In [26]:
data_pivot['total_debt'] = data.groupby('children')['debt'].count() #посчитаем общее количество человек для каждого типа людей
data_pivot['ratio_debt'] = data_pivot['долг по возврату']/data_pivot['total_debt'] 
# посчитаем отношение человек, вернувших кредит с задержкой к общему количеству для каждого количества детей
data_pivot.sort_values(by='ratio_debt', ascending=False) #выведем на печать

debt_status  возврат в срок  долг по возврату  total_debt  ratio_debt
children
4                      37.0               4.0          41    0.097561
2                    1858.0             194.0        2052    0.094542
1                    4364.0             444.0        4808    0.092346
3                     303.0              27.0         330    0.081818
0                   13028.0            1063.0       14091    0.075438
5                       9.0               NaN           9         NaN

**Вывод:** Если не брать в расчет людей с 4-5ю детьми (т.к. их крайне мало в общем массиве данных), то лучше всего выплачивают кредит в срок люди не имеющие детей, а хуже всего люди имеющие 1-2 детей.

In [28]:
def children_status(children): # функция, которая запишет статус человека по количеству детей 
    if children == 0:
        return 'детей нет'
    elif children >= 3:
        return 'многодетные'
    return '1-2 ребенка'

data['children_status'] = data['children'].apply(children_status) #добавим новый столбец с детским статусом

data.groupby('children_status')['debt'].agg(['count', 'sum', 'mean']).sort_values(by = 'mean', ascending = False)

                 count   sum      mean
children_status
1-2 ребенка       6860   638  0.093003
многодетные        380    31  0.081579
детей нет        14091  1063  0.075438

Вывод: Люди имеющие 1-2 детей чаще имеют просрочки по кредитам люди не имеющие детей.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [29]:
data_pivot = data.pivot_table(index='family_status', columns='debt_status', values='debt', aggfunc='count') 
# создадим сводную таблицу в разрезе семейных статусов и статусов возврата кредита
data_pivot

debt_status            возврат в срок  долг по возврату
family_status
Не женат / не замужем            2523               273
в разводе                        1105                84
вдовец / вдова                    888                63
гражданский брак                 3749               385
женат / замужем                 11334               927

In [30]:
data_pivot['total_debt'] = data.groupby('family_status')['debt'].count() #посчитаем общее количество взявших кредит по каждому семейному статусу
data_pivot['ratio_debt'] = data_pivot['долг по возврату']/data_pivot['total_debt'] 
#посчитаем отношение людей вернувших кредит с опоздаем к общему количеству для каждого семейного статуса

data_pivot.sort_values(by='ratio_debt', ascending =False)

debt_status,возврат в срок,долг по возврату,total_debt,ratio_debt
family_status,,,,
Не женат / не замужем,2523,273,2796,0.097639
гражданский брак,3749,385,4134,0.093130
женат / замужем,11334,927,12261,0.075606
в разводе,1105,84,1189,0.070648
вдовец / вдова,888,63,951,0.066246

**Вывод:** Хуже всего выплачивают кредиты в срок люди не состоящие в официальных отношениях, а лучше всего люди которые ранее были в официальных отношениях, а сейчас нет (в разводе, вдовцы).

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [31]:
data_pivot = data.pivot_table(index='total_income_category', columns='debt_status', values='debt', aggfunc='count') 
# создадим сводную таблицу в разрезе категорий доходов и статусом возврата кредита
data_pivot

debt_status            возврат в срок  долг по возврату
total_income_category
A                                  23                 2
B                                4660               354
C                               14568              1353
D                                 328                21
E                                  20                 2

Категории дохода

0–30000 — 'E';
30001–50000 — 'D';
50001–200000 — 'C';
200001–1000000 — 'B';
1000001 и выше — 'A'.

In [32]:
data_pivot['total_debt'] = data.groupby('total_income_category')['debt'].count() 
# посчитаем общее количество людей, бравших кредит,для каждой категории доходов
data_pivot['ratio_debt'] = data_pivot['долг по возврату']/data_pivot['total_debt'] 
# посчитаем отношение количества людей вернувших кредит с опозданием к общему количеству

data_pivot.sort_values(by='ratio_debt', ascending=False)

debt_status,возврат в срок,долг по возврату,total_debt,ratio_debt
total_income_category,,,,
E,20,2,22,0.090909
C,14568,1353,15921,0.084982
A,23,2,25,0.080000
B,4660,354,5014,0.070602
D,328,21,349,0.060172

**Вывод:** Вывод о зависимости уровня дохода и выплатой кредита в срок довольно сложно сделать, т.к. данные распределены неравномерно, но если брать две сабые большие выборки в данной задаче - это заемщики С с доходом от 50 до 200 тыс руб. и заемщики В с доходом от 200 до 1 000 тыс руб., то заемщики с доходом выше 200 тыс руб. лучше выплачивают кредиты в срок.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [33]:
data_pivot = data.pivot_table(index='purpose_category', columns='debt_status', values='debt', aggfunc='count') 
# создадим сводную таблицу в разрезе целей кредитов и статусом возврата кредита

data_pivot

debt_status               возврат в срок  долг по возврату
purpose_category
операции с автомобилем              3879               400
операции с недвижимостью            9971               780
получение образования               3619               369
проведение свадьбы                  2130               183

In [34]:
data_pivot['total_debt'] = data.groupby('purpose_category')['debt'].count() # посчитаем общее количество человек для каждой цели кредита
data_pivot['ratio_debt'] = data_pivot['долг по возврату']/data_pivot['total_debt'] 
# посчитаем отношение количества людей вернувших кредит с опозданием к общему количеству для каждой цели

data_pivot.sort_values(by='ratio_debt', ascending=False)

debt_status,возврат в срок,долг по возврату,total_debt,ratio_debt
purpose_category,,,,
операции с автомобилем,3879,400,4279,0.093480
получение образования,3619,369,3988,0.092528
проведение свадьбы,2130,183,2313,0.079118
операции с недвижимостью,9971,780,10751,0.072551

**Вывод:** Люди, взявшие кредит на покупку жилья, лучше всех выплачивают кредиты в срок. Хуже всего выплачивают кредиты в срок люди, взявшие кредит на покупку автомобиля и получение образования.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Если данные заполнялись на основе анкет заемщиков банка, то может быть несколько причин отсутсвия данных или некорректных данных:
-"человеческий фактор" (заемщик пропустил или неверно заполнил данные в анкете или оператор при переносе данных в базу мог ошибиться);
-технические ошибки (предполагаю, что в данной задаче это маловероятный вариант).

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Если в данных есть сильно выбивающиеся значения и диапазон слишком большой, то использование среднего арифметического сильно исказит общую картину данных, чтобы этого избежать чаще используют заполнение пропусков медианой.

### Шаг 4: общий вывод.

ВЫВОД:

    В качестве исходных данных была предоставлен массив данных по заемщикам банка. В таблице указано возраст заемщиков, образование, семейное положение, количество детей, уровень дохода, цель кредита и были ли просрочки в закрытии кредитов. На стадии предобработки были обработаны пропуски данных, дубликаты, аномальные данные и преобразованы типы данных для дальнейшего анализа.
    На основа анализа имеющихся данных можно сделать вывод о том, что количество детей и семейное положение влияет на выплату кредитов без задержек. Самый ответственный заемщик - это человек, который состоит (или состоял) в официальном браке и не имеет детей, доход которого > 200 тыс. руб. и тот кто берет кредит на покупку жилья. Хуже всего отдают кредиты вовремя люди не состоящие в официальном браке, имеющие 1-2 детей.
    Для более точного анализа, необходимо выявить причину аномальных данных и их пропусков, как вариант анкету заемщикам можно заполнять в электронном виде, с ячейками с заданным форматом и обязательным к заполнению. Основными метриками для решения о выдаче кредита можно считать уровень дохода, семейное положение, количество детей и цель кредита. Можно доработать анализ с учетом возраста заемщиков и региона проживания, тогда картина будет более полной.